.dark-cat 
{
    background-color: black;
    background-size: cover;
    height: 100vh;
}
#cat
{
    width:200px;
}
#dark
{
    width:100px;
}
.switch
{
    padding:10px;
    height : 100px;
    width : 150px;
    background-color:azure;
    border-radius: 10px;
}
.paraa
{
    color:blue;
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
#on
{
    border-width: 10px;
}
#off
{
    border-width:10px;
}